BTrees==4.1.4
Metafone==0.5
PyLBFGS==0.2.0.2
PyYAML==3.11
affinegap==1.1
argparse==1.2.1
canonicalize==1.3
categorical-distance==1.5
dedupe==1.1.0
dedupe-hcluster==0.3.2
dedupe-variable-address==0.0.5
fastcluster==1.1.20
future==0.15.0
haversine==0.4.2
highered==0.1.5
numpy==1.9.2
parseratorvariable==0.0.10
persistent==4.1.1
psycopg2==2.6.1
pyhacrf==0.0.12
python-crfsuite==0.8.3
rlr==1.5
simplecosine==1.0
simplejson==3.8.0
six==1.9.0
usaddress==0.5.4
wsgiref==0.1.2
zope.index==4.1.0
zope.interface==4.1.2
