sudo apt-get update -qq

sudo apt-get install python2.7-dev python-pip python-virtualenv -y

sudo apt-get install postgresql-9.3 -y
sudo apt-get install postgis postgresql-9.3-postgis-2.1 -y
sudo apt-get install libpq-dev -y

sudo -u postgres createuser ec2-user -d
